@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

h1 {
  font-size: var(--text-5xl) /* 3rem = 48px */;
    line-height: var(--tw-leading, var(--text-5xl--line-height) /* 1 */);

    --tw-font-weight: var(--font-weight-bold) /* 700 */;
    font-weight: var(--font-weight-bold) /* 700 */;

    color: var(--color-amber-500) /* oklch(76.9% 0.188 70.08) */;

    margin-bottom: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
}

@property --tw-font-weight {
    syntax: "*";
    inherits: false;
}